    <!-- Download Section -->
    <section id="banquet" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Schedule</h2>
                    <p>Reception opens at <span>11:30am</span></p>
                    <p>Wedding ceremony at <span>12:00nn</span></p>
                    <p>Buffet Lunch at <span>1:00pm</span></p>
                    <hr>
                    <p class="note">Please be reminded that there will be a Street Marathon at Kwun Tong on that day.<span><br> Please consider extra traffic time to the venue.</span></p>
                </div>
            </div>
        </div>
    </section>